[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
isort = "*"
pylama = "*"
flake8 = "*"
ipdb = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

[packages]
beaker = "*"
falcon = "*"
python-dotenv = "*"
gunicorn = "*"
tinydb = "*"

[requires]
python_version = "3.7"
